.titulo-principal{
    color: blue;
    font-size: 100px;
}
body{
     color:rgb(223, 215, 185)
     }

    p{ color: (51, 51, 51);
        font-family: Arial, Helvetica, sans-serif; 

    }
h1{ color: #0d1b97 ;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 40px;

}
 div{ color:#1726ad ;
      color: #898dbe;
      font-weight: bold;
      padding: 5px 10px 5px 10px;
    background-color: #1726ad; }

 h2{
     color:rgb(13, 27, 151) ;
     font-size: 20px;
     
 }
 ul{    color:#333333 ;
    color:rgb(223, 215, 185);
    padding: 10px;
    background-color: #333333;

 }
